html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#layoutContainer {
    width: 100%;
    height: 100%;
}

.dijitBorderContainer-child.dijitAlignTop {
    font-size: 18px;
    height: 1.5em;
}

