
.eventButton {
    border: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color: #FFFFFF;
    background-color: #00c853;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
}

.eventButton:hover {
    background-color: #4caf50;
    animation: buttonhover;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
